body {
  background-color: rgb(32, 31, 31);
  font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
}

label {
    margin-bottom: 0.5rem;
    display: block;
}

input,
textarea,
select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(185, 180, 180);
    padding: 0.25rem;
    color: rgb(53, 53, 53);
}

textarea {
    resize: none;
}

input:focus
textarea:focus,
select:focus {
    background-color: plum;
    color: rgb(85, 24, 85);
    border-color: rgb(85, 24, 85); 
}

button {
    display: block;
    font: inherit;
    background-color: rgb(85, 24, 85);
    color: white;
    border: 1px solid rgb(85, 24, 85);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(149, 53, 149) ;
    border-color: rgb(149, 53, 149) ;
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}